body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.unread {
  text-align: center;
  right: 1em;
  top: 1em;
  width: 3em;
  height: 3em;
  font-size: 0.6em;
  padding: 1em;
  background-color: blue;
  color: white;
  border-radius: 50%;
}
.initial {
  background-color: grey;
  width: 5em;
  height: 5em;
  color: black;
  border-radius: 50%;
  text-align: center;
  font-size: 3em;
  margin: 2px;
}
.convo-list {
  display: flex;
  align-items: center;
}


